.pizza-form {
  padding: 1rem;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.size-button.btn.btn-primary {
  --bs-btn-bg: #f1f1f1;
  --bs-btn-border-color: #6f42c1;
  --bs-btn-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6f42c1;
  --bs-btn-hover-border-color: #6f42c1;
  --bs-btn-active-bg: #6f42c1;
  --bs-btn-active-border-color: #6f42c1;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.toppings {
  text-align: left;
  font-weight: 450;
}

.pizza-choice {
  background-color: #f1f1f1;
  padding: 1rem;
  height: 15rem;
}

.form-check-inline .form-check-input {
margin-top: 4px;
background-color: #f1f1f1;
}

input.form-check-input[type=checkbox] {
  border-radius: 0;
  border-width: 0.1rem;
  border-color: #000;
}
.all-details {
  padding-bottom: 1rem;;
  border-bottom: 1.5px solid #adb5bd;
}
.details {
  text-align: left;
  margin-top: 1rem;
}

input.form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #6c757d;
  border-radius: 0;
  padding: 0 6px;
  font-size: 1.5vw;
}

.button-div {
  text-align: left;
  margin-top: 1rem;
}

button.pizza-submit.btn.btn-primary {
  font-size: small;
  font-weight:500;
  --bs-btn-bg: #3E51B5;
  --bs-btn-border-color: #3E51B5;
  --bs-btn-hover-bg: #3e51b5;
  border-radius: 0;
  padding: 3px 12px;
}

.pizza-submit {
  align-self: left;
}