/* .pizza-form {

} */

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .btn-primary {
  --bs-btn-bg: #6739B7;
} */

/* .btn-secondary {
  color: black;
} */

.size-button.btn.btn-primary {
  --bs-btn-bg: #f1f1f1;
  --bs-btn-border-color: #6f42c1;
  --bs-btn-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6f42c1;
  --bs-btn-hover-border-color: #6f42c1;
  --bs-btn-active-bg: #6f42c1;
  --bs-btn-active-border-color: #6f42c1;
}

.toppings {
  text-align: left;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: baseline; */
}

.pizza-choice {
  background-color: #f1f1f1;
  padding: 1rem;
}

.form-check-inline .form-check-input {
margin-top: 4px;
background-color: #f1f1f1;
}

input.form-check-input[type=checkbox] {
  border-radius: 0;
  border-width: 1.5px;
  border-color: #000;
}

.details {
  text-align: left;
}

input.form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000;
  border-radius: 0;
  padding: 0 6px;
  font-size: 1.5vw;
}

/* .form-control {

} */

/* .form-check.form-check-inline {
  align-items:flex-end;
} */

/* .form-check-input {
  margin-top: auto;
  margin-bottom: auto;
} */

/* .form-check.form-check-inline {
  padding-bottom: 10px;
  align-items: middle;
} */
/* 
.form-check-label {
  vertical-align: middle;
} */